body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    max-width: 500px;
    margin: 0 auto;
    border: 1px solid #f1f1f1;
    text-align: center;
    font-style: italic;
}

header {
    width: 100%;
}

a {
    text-decoration: inherit;
    padding: 7px 35px 5px 35px;
    background-color: #a786be;
    color: #f1f1f1;
    border: 2px solid #f1f1f1;
    box-shadow: 0px 0px 6px #999;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
}

.margin0 {
    margin: 0 !important;
}

.allison {
    font-family: 'Allison', cursive;
    font-size: 60px;
}

.names {
    font-family: 'Allison', cursive;
    margin: 15px auto 15px auto;
    font-size: 72px;
    width: 72%;
}

.marlyn {
    display: block;
    text-align: left;
}

.and {
    display: block;
    font-size: 32px;
    margin-right: 12px;
    margin: -10px 12px 0 0;
}

.migue {
    display: block;
    text-align: right;
    margin: -25px 12px 0 0;
}

.principal {
    width: 100%;
    /*box-shadow: 0px 5px 10px #555;*/
}

.principal img {
    width: 100%;
    float: left;
}

.fecha {
    /*background-color: #a786be;*/
    background-color: #c5bfef;
    /*background: url('background-date4.png');*/
    color: #f1f1f1;
    font-size: 25px;
    padding: 45px 0 35px 0;
    font-weight: 600;
    text-shadow: 0 0 5px #a786be;
}

.year {
    margin-bottom: 45px;
    text-shadow: 0 0 5px #a786be;
}

img {
    width: 100%;
}
  
.content-main {
    position: relative;
    border: 8px solid #c5bfef;
}   

.content-box {
      height: auto;
      overflow: hidden;
      background: #fff;
      border-bottom: 1px solid #99928a;
      box-shadow: 0 5px 5px #a09991;
}   
      
/*.content-box:before {
    content: ""; height: 7px;
    background-color: #a09991;
    position: absolute;
    left: 0;
    right: 0;
    -webkit-clip-path: polygon(-0% -100%, 5%  100%, 10% 0%, 15%  100%, 20% 0%, 25% 100%, 30% 0%, 35%  100%, 40% 0%, 45%  100%, 50% 0%, 55%  100%, 60% 0%, 65%  100%, 70% 0%, 75%  100%, 80% 0%, 85%  100%, 90% 0%, 95%  100%, 100% 0%);
}*/
      
.content-box:before {
    background-color: #fff;
    top: 0;
}
      
/*.content-box:after {
    background-color: #fff;
    bottom: -2px;
}*/

.pedida-mano {
    width: 90%;
    margin: 0 auto;
    border: 5px solid #fff;
    margin-top: -45px;
    box-shadow: 0px 0px 15px #555;
}

.pedida-mano img {
    float: left;
}

.icons {
    background-color: #c5bfef;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 25px;
    color: #a786be;
    border-top: 1px solid #c9a8df;
}

.icons .icon {
    padding: 15px 30px;
    border-bottom: 2px solid #a786be;
}

.icons .text {
    margin-top: 15px;
    font-weight: bold;
}

.hours-details {
    margin-top: 35px;
    padding: 0 35px;
}

.vestimenta {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    margin-top: 15px;
}

.vestimenta div {
    width: 25px;
    display: inline-block;
    width: 100%;
}

.vestimenta img {
    width: 50px;
}

.vestimenta div:nth-child(1) {
    text-align: right;
}

.vestimenta div:nth-child(2) {
    text-align: left;
}

.color-reserved span {
    padding: 10px 20px;
    border-radius: 30px;
    margin: 10px;
}

.color-reserved-1 {
    background-color: #a786be;
}

.color-reserved-2 {
    background-color: #3c4e74;
}

footer {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}